body {
  background-color: black;
}

#fortune-background {
  height: 103px;
  width: 372px;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  background-image: url('http://www.contrib.andrew.cmu.edu/~jemminc/img/fortunecookie.jpg');
  display: table;
}

#fortune-message {
  vertical-align: middle;
  padding: 25px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#fortune-numbers {
  vertical-align: middle;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#flip {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
}
