body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h4 {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  font-weight: 300;
  margin: 0;
}

#picwindow {
  height: 350px;
  width: 350px;
  margin: 1em auto;
  border: none;
  border-radius: 50%;
  background-image: url("img/home-pics-white.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#menu {
  text-align: center;
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px;
}

#projects {
  width: 120px;
}

#more {
  width: 80px;
}

.menu-link {
  font-size: 2em;
}

.options-list {
  display: none;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.options-list li {
  white-space: nowrap;
}

.option:hover {
  color: cornflowerblue;
}
