body {
  background-color: white;
  color: black;
}

a {
  color: cornflowerblue;
}

h1 a, .menu-link, .menu-sublink, #resume-menu-link {
  color: black;
}

.menu-link:hover, .menu-sublink:hover, #resume-menu-link:hover {
  color: cornflowerblue;
}

#picwindow {
  background-image: url("img/home-pics-day.jpg");
}

.options-list {
  background-color: white;
  border: 1px dotted black;
}

h6 {
  background-color: white;
}
