body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* LINKS */

/* Default, in text links style */
a {
  text-decoration: none;
}

/* Title header and menu links */

.menu-link {
  font-size: 2em;
}

/* For JavaScript links (no href attribute) */
.jslink {
  cursor: pointer;
}

/* CONTENT ELEMENTS */

/* "No JS?" message */
#nojs {
  text-align: center;
}

#light-switch {
  position: absolute;
  height: 48px;
  margin: 5px;
}

/* Header - name */

h1 {
  text-align: center;
  font-size: 3.5em;
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.2em;

}

/* Glorious sliding picture window */

#picwindow {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Navigation menu */

#menu {
  text-align: center;
  margin-top: 0.5em;
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px;
}

#nav-projects {
  width: 120px;
}

#nav-more {
  width: 80px;
}

.options-list {
  display: none;
  position: absolute;
  border-top: none;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0 0.5em;
  padding-bottom: 0.25em;
}

.options-list li {
  white-space: nowrap;
}

/* Content sections */

section {
  display: none;
  margin: 0 2em;
}

#me {
  height: 300px;
  float: right;
  margin-left: 1em;
  border-radius: 20px;
}

/* Projects section */

.has-role {
  margin-bottom: 0;
}

.role {
  font-style: italic;
}

#sheep {
  height: 200px;
  float: right;
  margin-left: 1em;
}

#lv-video {
  display: block;
  margin: 0 auto;
}

#scrabbleboard {
  height: 300px;
  float: right;
  margin-left: 1em;
}

#gatesplaque {
  height: 300px;
  float: right;
  margin-left: 1em;
  border-radius: 5px;
  margin-top: 1em;
}

/* Copyright notice */

h6 {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 2px;
}
